<div class="container">
    <div id="head-band">
        <div id="logo"><img src="/img/logo.png"></div>
        <div id="banner"><img src="/img/top-banner.jpg"></div>
    </div>
</div>

<div id="nav">
    <div class="container">
        <ul id="menu">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/promo">Ưu đãi</a></li>
            <li><a href="/books">Kho Sách</a></li>
            <li><a href="/newbooks">Sách mới</a></li>
            <li><a href="/about">About</a></li>
            <li></li>
        </ul>

        <div id="home-search">
            <div class="search-bar" id="menu-search"><input class="text" type="text"><span class="clear"></span><span class="search"></span></div>
        </div>

        <ul>
            <li><a href="/cart">Giỏ hàng <span id="cart-count">[cartcount]</span></a></li>
        </ul>
    </div>
</div>