<section class="hero-banner">
  <img src="/images/banner.jpg" alt="Banner">
</section>

<div class="container">

  <section class="home-layout">

    <aside class="sidebar">
      <ul>
        <li><a href="#">Thiếu nhi</a></li>
        <li><a href="#">Kỹ năng sống</a></li>
        <li><a href="#">Manga</a></li>
        <li><a href="#">Khoa học</a></li>
        <li><a href="#">Ngoại ngữ</a></li>
      </ul>
    </aside>

    <section class="home-products">

      <div class="book-container">

        <div class="book">
          <div class="book-wrapper">
            <div class="image">
              <img src="/images/book1.jpg">
            </div>
            <h3 class="title">Doraemon</h3>
            <div class="price">89.000đ</div>
          </div>
        </div>

        <div class="book">
          <div class="book-wrapper">
            <div class="image">
              <img src="/images/book2.jpg">
            </div>
            <h3 class="title">Thần đồng đất Việt</h3>
            <div class="price">120.000đ</div>
          </div>
        </div>

        <div class="book">
          <div class="book-wrapper">
            <div class="image">
              <img src="/images/book3.jpg">
            </div>
            <h3 class="title">Kỹ năng sống</h3>
            <div class="price">95.000đ</div>
          </div>
        </div>

      </div>

    </section>

  </section>

</div>